{{#> layout/bulma}}
    {{#*inline "content-block"}}
        <section class="hero is-info is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3" id="app">
                        <h1 class="title">Wuffs
                            <small>.dev</small>
                        </h1>
                        <h2 class="subtitle">Oops, something's wrong...</h2>
                        <h2 class="subtitle">We were unable to find the URL you clicked, it may have been deleted or
                            never existed</h2>
                        <h2 class="subtitle">{{message}}</h2>
                        <h2 class="subtitle">{{error.status}}</h2>
                        <pre>
                            {{error.stack}}
                        </pre>
                    </div>
                </div>
            </div>

        </section>
    {{/inline}}
{{/layout/bulma}}
